/* .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #808080;
    border-radius: 118px;
    padding: 0.2rem 0.6rem;
    margin-top: 1rem;
    width: 600px;
}

.search-input-container input {
    border: none;
    font-size: 16px;
    width: 100%;
}

.search-input-container input:focus {
    outline: none;
}
.cross-button, .search-button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}
.cross-button, .search-button {
    margin-inline: 5px;
} */

.searchbar {
  display: flex;
  padding: 4rem;
  justify-content: center;
  text-align: center;
}

.searchbutton {
  background-color: rgb(67, 197, 237);
  position: relative;
  border-radius: 0.3rem;
  height: 6vh;
  width: 5vw;
  border: none;
}

.input {
  border: none;
  border-bottom: 2px solid rgb(67, 197, 237);
  border-left: 2px solid rgb(67, 197, 237);
  border-radius: 0.3rem;
  width: 30vw;
  height: 6vh;
}

.space-gap {
  width: 1rem;
  height: auto;
  display: inline-block;
}

::placeholder {
  color: rgb(46, 41, 41);
  opacity: 0.5;
}

.filterbutton {
  background-color: rgb(67, 197, 237);
  border: none;
  position: relative;
  border-radius: 0.5rem;
  height: 5vh;
  width: 10vw;
  display: none;
  transition: all 0.5s ease;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

@media screen and (max-width: 900px) {
  .dashboard {
    padding: 0px;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .searchbar {
    display: flex;
    padding: 2rem 1rem;
    justify-content: left;
  }

  .input {
    width: 55vw;
  }

  .searchbutton {
    height: 5vh;
    width: 15vw;
  }
}

@media screen and (max-width: 900px) {
  .searchbar {
    display: flex;
    padding: 2rem 1rem;
    justify-content: left;
  }

  .input {
    width: 55vw;
  }

  .searchbutton {
    height: 5vh;
    width: 15vw;
  }

  .filterbutton {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
